<div class="event_class top clearfix">

	<h1 class="left">Robotics</h1>
	<%= image_tag 'categories/robotics.png', class: 'class_icon' %>
	
	<div style="clear: both;"></div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/blitzkrieg.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Blitzkrieg</div>
			<div class="short_desc">Robo-war</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/poseidons_army.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Poseidon's Army</div>
			<div class="short_desc">Aqua Robot Race</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/street_rover.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Street Rover</div>
			<div class="short_desc">Line Follower</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/all_terrain.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">All Terrain</div>
			<div class="short_desc">Multiple Terrain Race</div>
		</div>
	</div>
</div>
	
<div class="event_class clearfix">

	<h1 class="left">Compute-Aid</h1>
	<%= image_tag 'categories/computing.png', class: 'class_icon' %>
	
	<div style="clear: both;"></div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/blitzkrieg.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Blitzkrieg</div>
			<div class="short_desc">Robo-war</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/poseidons_army.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Poseidon's Army</div>
			<div class="short_desc">Aqua Robot Race</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/street_rover.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Street Rover</div>
			<div class="short_desc">Line Follower</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/all_terrain.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">All Terrain</div>
			<div class="short_desc">Multiple Terrain Race</div>
		</div>
	</div>
</div>
	
<div class="event_class bottom clearfix">

	<h1 class="left">Cyber Crusade</h1>
	<%= image_tag 'categories/gaming.png', class: 'class_icon' %>
	
	<div style="clear: both;"></div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/blitzkrieg.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Blitzkrieg</div>
			<div class="short_desc">Robo-war</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/poseidons_army.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Poseidon's Army</div>
			<div class="short_desc">Aqua Robot Race</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/street_rover.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">Street Rover</div>
			<div class="short_desc">Line Follower</div>
		</div>
	</div>
	
	<div class="event_tile">
		<%= image_tag 'events/robotics/all_terrain.jpg', class: 'thumbnail' %>
		<div class="hover">
			<div class="name">All Terrain</div>
			<div class="short_desc">Multiple Terrain Race</div>
		</div>
	</div>
</div>

<div class="contact clearfix">
	<h1>Chart us down</h1>
	
	<%= image_tag 'map.png', class: 'map left' %>
	
	<div class="form right clearfix">
		<form>
			<input type="text" placeholder="Your name">
		
			<select>
				<option>General enquiry</option>
				<option>Accomodation enquiry</option>
				<option>Advertising enquiry</option>
				<option>Publicity enquiry</option>
			</select>
			
			<textarea placeholder="Have a question?"></textarea>
			
			<input type="submit">
		</form>
	</div>
</div>