<% for category in @all_categories %>
	<% if category.events.any? %>
		<div class="event_class clearfix">

		<h1 class="left"><%= category.name %></h1>
		<%= image_tag category.black_icon.url, class: 'class_icon' %>
		
		<div style="clear: both;"></div>
		
		<% for event in category.events %>
			<a href="<%= event_path(event) %>">
				<div class="event_tile">
					<%= image_tag event.image.url(:tile), class: 'thumbnail' %>
					<div class="hover">
						<div class="name"><%= event.name %></div>
						<div class="short_desc"><%= event.short_description %></div>
					</div>
				</div>
			</a>
		<% end %>

		</div>
	<% end %>
<% end %>

<div class="contact clearfix">
	<h1>Chart us down</h1>
	
	<%= image_tag 'map.png', class: 'map left' %>
	
	<div class="form right clearfix">
		<form>
			<input type="text" placeholder="Your name">
		
			<select>
				<option>General enquiry</option>
				<option>Accomodation enquiry</option>
				<option>Advertising enquiry</option>
				<option>Publicity enquiry</option>
			</select>
			
			<textarea placeholder="Have a question?"></textarea>
			
			<input type="submit">
		</form>
	</div>
</div>