<div class="event top clearfix">

	<h1 class="left"><%= @event.name %></h1>
	<%= image_tag @event.category.black_icon, class: 'class_icon' %>
	
	<div style="clear: both;"></div>
	
	<%= image_tag @event.image.url(:flagship), class: 'flagship' %>
	
	<% if false %>
	<div class="prizes clearfix">
		<div class="prize">
			<div class="prize_decr">First Place</div>
			&#8377; 7000
		</div>
		
		<div class="prize">
			<div class="prize_decr">Second Place</div>
			&#8377; 5000
		</div>
		
		<div class="prize">
			<div class="prize_decr">Third Place</div>
			&#8377; 3000
		</div>
	</div>
	<% end %>
					
	<div class="info">
		<h2>Event Information</h2>
		
		<%= raw @markdown.render(@event.description) %>
	</div>
	
	<div class="contacts">
		<% for contact in [@event.contact1, @event.contact2] %>
		<a href="<%= contact.facebook_url %>" target="_blank">
			<div class="contact">
				<%= image_tag contact.facebook_avatar %>
				
				<div class="contact_info">
					<div class="name"><%= contact.name %></div>
					<div class="phone"><%= contact.phone %></div>
					<div class="fb"><%= contact.facebook_username %></div>
				</div>
			</div>
		</a>
		<% end %>
	</div>
</div>