<h1>Contacts</h1>
<div style="clear: both;"></div>

<%= form_for @message do |f| %>

	<%= label_tag(nil, "What would you like to ask about?") %>

	<%= f.collection_select :contact_category_id, ContactCategory.all, :id, :name %>

	<br><br>

	<% for contact_category in @contact_categories %>
		<div class="hide contacts" id="cc_<%= contact_category.id %>">
			<% for contact in [contact_category.contact1, contact_category.contact2] %>
			<a href="<%= contact.facebook_url %>" target="_blank">
				<div class="contact">
					<%= image_tag contact.facebook_avatar %>
					
					<div class="contact_info">
						<div class="name"><%= contact.name %></div>
						<div class="phone"><%= contact.phone %></div>
						<div class="fb"><%= contact.facebook_username %></div>
					</div>
				</div>
			</a>
			<% end %>
		</div>
	<% end %>

	<div class="clearfix"></div>

	<p class="or center"><i>&#8212; or &#8212;</i></p>

  <div class="clearfix"></div>

	<%= f.label('message', "Send us a message:") %>

	<% if @message.errors.any? %>
	<ul class="error_messages">
		<% for msg in @message.errors.full_messages %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	<% elsif @success %>
	<div class="success">
		Your message has been sent!
	</div>
	<% end %>

	<%= f.text_field 	:name, 		placeholder: "Your name" 			      %>
	<%= f.text_field 	:email, 	placeholder: "Your e-mail address" 	%>
	<%= f.text_area 	:message, placeholder: "Your message" 		    %>
  
  <%= recaptcha_tags ajax: true unless current_user %>

	<%= f.submit 		  "Submit" 										                  %>

<% end %>
