<h1>Contacts</h1>
<div style="clear: both;"></div>

<%= form_tag do |f| %>

	<%= label_tag "What would you like to ask about?" %>
	<%= select_tag "contact_categories", options_for_select(
		Hash[@contact_categories.pluck(:name).collect { |v| [v, machinize(v)] }]
	) %>

	<br><br>

	<% for contact_category in @contact_categories %>
		<div class="hide contacts" id="cc_<%= machinize contact_category.name %>">
			<% for contact in [contact_category.contact1, contact_category.contact2] %>
			<a href="<%= contact.facebook_url %>" target="_blank">
				<div class="contact">
					<%= image_tag contact.facebook_avatar %>
					
					<div class="contact_info">
						<div class="name"><%= contact.name %></div>
						<div class="phone"><%= contact.phone %></div>
						<div class="fb"><%= contact.facebook_username %></div>
					</div>
				</div>
			</a>
			<% end %>
		</div>
	<% end %>

	<div class="clearfix"></div>

	<br><br><br><br>

	<p class="or center"><i>&#8212; or &#8212;</i></p>

	<br><br><br><br>

	<%= label_tag "Send us a message:" %>
	<%= text_field_tag "name", nil, placeholder: "Your name" %>
	<%= text_field_tag "email", nil, placeholder: "Your e-mail address" %>
	<%= text_area_tag "message", nil, placeholder: "Your message" %>
	<%= submit_tag "Submit" %>

<% end %>
