<ul>
	<%= nav_link 'Events', root_path %>
	<li><%= link_to 'Speakers' %></li>
	<li><%= link_to 'Gallery' %></li>
	<li><%= link_to 'Sponsors' %></li>
	<li><%= link_to 'Contact' %></li>
</ul>

<% for category in @categories %>
	<% if !category.events.empty? %>

		<h3 class="left"><%= category.name %></h3>
		<%= image_tag category.black_icon.url, class: 'class_icon' %>
		<div class="separator clearfix"></div>

		<ul class="event_class">
			<% for event in category.events %>
			<%= nav_link event.name, event_path(event) %>
			<% end %>
		</ul>
	
	<% end %>
<% end %>