<ul>
	<%= nav_link 'Events', root_path %>
	<%# nav_link 'Speakers', speakers_path %>
	<%= nav_link 'Gallery', gallery_path %>
	<%= nav_link 'Sponsors', sponsors_path %>
	<%= nav_link 'Contact', contacts_path %>
</ul>

<% for category in @all_categories %>
	<% if !category.events.empty? %>

		<h3 class="left"><%= category.name %></h3>
		<%= image_tag category.black_icon.url, class: 'class_icon' %>
		<div class="separator clearfix"></div>

		<ul class="event_class">
			<% for event in category.events %>
			<%= nav_link event.name, event_path(event) %>
			<% end %>
		</ul>
	
	<% end %>
<% end %>