<!DOCTYPE html>
<html>
	<head>
  		<title><% if @event %><%= @event.name %> - <% end %>Edge</title>
  		<meta charset="UTF-8">
  		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<script src="//platform.twitter.com/widgets.js"></script>
  		<meta name="viewport" content="width=device-width, minimumscale=1.0, maximum-scale=1.0">
  		<%= csrf_meta_tags %>

      <% if @event %>
        <meta property="og:image" content="<%= @event.image.url(:flagship) %>">
        <meta property="og:title" content="<%= @event.name %> - Edge">
        <meta property="og:description" content="<%= @event.description.split(/#/, 2).first.squish %>">
      <% else %>
        <meta property="og:image" content="<%= image_url('mascot.jpg') %>">
        <meta property="og:title" content="Edge">
        <meta property="og:description" content="Edge is the annual Techno-Management fest of Techno India, Salt Lake. The biggest technical fest of Kolkata, Edge sports a wide range of events, intense compeition and lakhs of prize money up for grabs!">
      <% end %>

      <meta property="og:url" content="<%= request.original_url %>">
      <meta property="og:site_name" content="Edge">
	</head>
	<body>

		<header>
			<%= render('layouts/header') %>
		</header>

		<div id="sidebar">
			<%= render('layouts/sidebar') %>
		</div>

		<div id="container">
			<%= yield %>
		</div>

		<div id="social_bar">
			<%= render('layouts/social') %>
		</div>

		<footer>
			<%= render('layouts/footer') %>
		</footer>
		
		<script>
			$(document).ready(function() {
				$('#notifications').hide();
				
				var icon_default_opacity = $('#notifications_icon').css('opacity');
				
				$('#notifications_icon').click(toggle_notifications = function() {
					if($('#notifications').is(':visible'))
					{
						$('#notifications').hide();
						$('#notifications_icon').css('opacity', icon_default_opacity);
					}
					else
					{
						$('#notifications').show();
						$('#notifications').find('.new').addClass('new_faded')
						$('#notifications_icon').css('opacity', 1);
					}
				});
			});
		</script>
		
		<script>/*(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1&appId=480454025355053";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));*/</script>

	</body>
</html>
